.faq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  padding: 10px;
  gap: 10px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.vertical-container .info-container {
  width: 70%;
}

.faq-container {
  width: 100%;
  padding: 10px;
}

.answer-container {
  padding: 10px;
}

.answer-container pre {
  white-space: pre-wrap;
}

@media (max-width: 900px) {
  .faq {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .vertical-container {
    align-items: center;
    justify-content: center;
  }

  .test {
    width: 70%;
  }

  .faq section span {
    text-align: center;
  }
  
  .faq hr {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .vertical-container {
    width: 90%;
  }

  .vertical-container .info-container {
    width: 90%;
  }

  .test {
    width: 80%;
    align-items: center;
  }
}