.hero {
  background: url(/Background-4.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: -1;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-width: 20%;
  border-radius: 16px;
  width: 40%;
  color: var(--color-primary);
}

.title-container > h1 {
  font-size: 3rem;
}

.title-container > p {
  font-size: 1.4rem;
}

.title-container > sub {
  font-size: 1rem;
}

.title-container > * {
  z-index: 1;
}

.meteor-addons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: rgb(0, 0, 0, 0);
}

.meteor-addons p {
  font-size: 1.2rem;
  color: #dab2ff;
}

.meteor-addons:hover {
  border: 1px solid;
  border-color: #dab2ff;
  transition: all ease-in-out 300ms;
}

@media (max-width: 780px) {
  .title-container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .title-container {
    width: 80%;
    padding: 2rem;
  }
}
