select {
  background-color: var(--color-primary);
  background-image: none;
  appearance: none;
  color: var(--text-color);
  outline: none;
  font-size: 1rem;
  padding: 5px;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  text-align-last: center;
  cursor: pointer;
  width: 40%;
}

option {
  background-color: var(--background-color);
  color: var(--color-primary);
  font-size: 1rem;
  border: 2px solid var(--color-primary);
}
