---
import "../styles/global.css";
import backgroundImage from "../assets/Background-1.png"
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const downloadLink: any = document.getElementById("download-link");
    const downloads = document.getElementById("downloads");
    const stars = document.getElementById("stars");

    async function getDownloads() {
      const baseUrl = "https://api.github.com/repos/cqb13/Numby-hack/releases?per_page=100&page=";
      let page = 1;
      let totalDownloads = 0;

      while (true) {
        const res = await fetch(baseUrl + page);
        const data = await res.json();

        if (!Array.isArray(data) || data.length === 0) {
          break;
        }

        for (const release of data) {
          for (const asset of release.assets) {
            totalDownloads += asset.download_count;
          }
        }

        page++;
      }

      if (downloads) {
        downloads.textContent = `downloads: ${totalDownloads.toLocaleString()}`;
      }
    }

    fetch("https://api.github.com/repos/cqb13/Numby-hack/releases/latest")
    .then((res) => res.json())
    .then((data) => {
        const downloadUrl = data.assets[0].browser_download_url;
        if (downloadLink) {
          downloadLink.href = downloadUrl;
        }
    });

    
    fetch("https://api.github.com/repos/cqb13/Numby-hack")
      .then((res) => res.json())
      .then((data) => {
        if (stars) {
          stars.textContent = `stars: ${data.stargazers_count.toLocaleString()}`;
        }
      });

    getDownloads();
  });
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta
      name="description"
      content="A Meteor Client addon focused on giving users more customization options. Made in honor of Number81."
    />
    <meta property="og:title" content="Numby Hack" />
    <meta property="og:site_name" content="Numby Hack" />
    <meta property="og:author" content="cqb13, Maksim Straus" />
    <meta name="author" content="cqb13, Maksim Straus" />
    <meta
      property="og:description"
      content="A Meteor Client addon focused on giving users more customization options. Made in honor of Number81."
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Numby Hack" />
    <meta
      name="twitter:description"
      content="A Meteor Client addon focused on giving users more customization options. Made in honor of Number81."
    />
    <meta
      property="og:image"
      content="https://numbyhack.cqb13.dev/icon.png"
    />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="numby hack, number 81, meteor client addon, meteor client, meteor client minecraft, meteor client minecraft addon, meteor addons, meteor addon, meteor client addon list, meteor addon list, meteor client plugins, meteor client plugin, meteor client code, fos meteor client, fos meteor client addons, minecraft mod list, minecraft utility client list, utility mods, utility mod, minecraft utility mods"
    />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Numby Hack</title>
	</head>
  <body class="bg-neutral-700 text-green-50">
    <header style={`background-image: url(${backgroundImage.src});`} class="relative w-full h-svh bg-cover bg-center flex flex-col items-center justify-center">
      <div class="absolute inset-0 bg-black/40 backdrop-blur-sm max-sm:backdrop-blur-xl"></div>
      <main class="relative z-10 flex flex-col w-full items-center justify-center h-full text-white font-bold">
        <h1 class="text-9xl font-bold text-accent select-none max-md:text-8xl max-sm:text-7xl max-[35rem]:text-6xl">Numby Hack</h1>
        <p class="w-5/12 max-lg:w-9/12 max-md:w-11/12 text-center text-slate-400 font-bold mt-1">A Meteor Client addon focused on giving users more customization options. Made in honor of Number81.</p>
        <a class="text-center text-slate-400 font-bold mt-1 cursor-pointer underline hover:text-accent transition-all duration-300 ease-in-out" href="https://github.com/cqb13" target="_blank">Made by: cqb13</a>
        <div class="flex gap-2 w-1/2 max-lg:w-3/4 max-md:w-11/12 max-sm:flex-col">
          <a href="" class="flex flex-col items-center justify-center px-4 py-2 bg-accent rounded uppercase font-bold text-4xl tracking-wide w-full hover:bg-white hover:text-accent transition-all duration-300 ease-in-out" id="download-link">
            Download
            <p class="text-xs" id="downloads">downloads:0000</p>
          </a>
          <a href="https://github.com/cqb13/Numby-hack/" target="_blank" class="flex flex-col items-center justify-center px-4 py-2 bg-accent rounded uppercase font-bold text-4xl tracking-wide w-full hover:bg-white hover:text-accent transition-all duration-300 ease-in-out">
            Github
            <p class="text-xs" id="stars">stars:0000</p>
          </a>
        </div>
      </main>
    </header>
    <div class="absolute top-1 right-1 p-2 m-2 flex gap-2 z-10">
      <a href="https://github.com/cqb13/Numby-hack" target="_blank" class="hover:scale-110 transition-all duration-300 ease-in-out fill-accent cursor-pointer">
        <svg width="40" height="40" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M12 2.247a10 10 0 0 0-3.162 19.487c.5.088.687-.212.687-.475 0-.237-.012-1.025-.012-1.862-2.513.462-3.163-.613-3.363-1.175a3.64 3.64 0 0 0-1.025-1.413c-.35-.187-.85-.65-.013-.662a2 2 0 0 1 1.538 1.025 2.137 2.137 0 0 0 2.912.825 2.1 2.1 0 0 1 .638-1.338c-2.225-.25-4.55-1.112-4.55-4.937a3.9 3.9 0 0 1 1.025-2.688 3.6 3.6 0 0 1 .1-2.65s.837-.262 2.75 1.025a9.43 9.43 0 0 1 5 0c1.912-1.3 2.75-1.025 2.75-1.025a3.6 3.6 0 0 1 .1 2.65 3.87 3.87 0 0 1 1.025 2.688c0 3.837-2.338 4.687-4.562 4.937a2.37 2.37 0 0 1 .674 1.85c0 1.338-.012 2.413-.012 2.75 0 .263.187.575.687.475A10.005 10.005 0 0 0 12 2.247"/></svg>
      </a>
      <a href="https://discord.com/invite/TtmQs7BzPJ" target="_blank" class="hover:scale-110 transition-all duration-300 ease-in-out fill-accent cursor-pointer">
        <svg width="40" height="40" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M20.992 20.163a2.884 2.884 0 0 1-2.695-3.03v.007a2.867 2.867 0 0 1 2.687-3.023h.008a2.85 2.85 0 0 1 2.695 3.031v-.008a2.86 2.86 0 0 1-2.688 3.022h-.008zm-9.966 0a2.884 2.884 0 0 1-2.695-3.03v.007a2.867 2.867 0 0 1 2.687-3.023h.008a2.85 2.85 0 0 1 2.695 3.031v-.008q.005.074.005.161a2.867 2.867 0 0 1-2.692 2.862zM26.393 6.465c-1.763-.832-3.811-1.49-5.955-1.871l-.149-.022-.017-.002a.09.09 0 0 0-.081.047c-.234.411-.488.924-.717 1.45l-.043.111a23 23 0 0 0-6.985.016l.129-.017c-.27-.63-.528-1.142-.813-1.638l.041.077a.1.1 0 0 0-.083-.047l-.016.001h.001a24.6 24.6 0 0 0-6.256 1.957l.151-.064a.1.1 0 0 0-.04.034C2.706 10.538.998 15.566.998 20.993q0 1.36.141 2.684l-.009-.11a.1.1 0 0 0 .039.07 24.6 24.6 0 0 0 7.313 3.738l.176.048a.1.1 0 0 0 .028.004q.05-.002.077-.038a17.5 17.5 0 0 0 1.485-2.392l.047-.1a.096.096 0 0 0-.052-.132h-.001a16 16 0 0 1-2.417-1.157l.077.042a.1.1 0 0 1-.048-.083c0-.031.015-.059.038-.076.157-.118.315-.24.465-.364a.1.1 0 0 1 .097-.013h-.001c2.208 1.061 4.8 1.681 7.536 1.681s5.329-.62 7.643-1.727l-.107.046a.1.1 0 0 1 .099.012q.226.188.466.365a.1.1 0 0 1 .038.077.1.1 0 0 1-.046.082c-.661.395-1.432.769-2.235 1.078l-.105.036a.1.1 0 0 0-.062.089q0 .024.011.044v-.001c.501.96 1.009 1.775 1.571 2.548l-.04-.057a.1.1 0 0 0 .106.036h-.001c2.865-.892 5.358-2.182 7.566-3.832l-.065.047a.1.1 0 0 0 .039-.069c.087-.784.136-1.694.136-2.615 0-5.415-1.712-10.43-4.623-14.534l.052.078a.1.1 0 0 0-.038-.036z"></path></svg>
      </a>
    </div>
    <a
      class="absolute z-10 bottom-1 left-1 flex gap-2 p-5 m-2 hover:outline-4 hover:outline-purple-300 rounded-xl transition-all duration-300 ease-in-out"
      target="_blank"
      href="https://www.meteoraddons.com"
    >
      <img
        src="https://www.meteoraddons.com/icon.svg"
        alt="meteor addons icon"
        width={30}
        height={30}
      />
      <p class="text-purple-300 font-bold text-lg">Meteor Addon List</p>
    </a>
  </body>
</html>
