.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.feature-display-container {
  display: grid;
  grid-template-columns: 0.6fr 2.5fr;
  grid-template-rows: 1fr;
  padding: 10px;
  border-radius: 16px;
  width: 80%;
  max-height: 80vh;
}

.module-name {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--text-color);
}

.module-list-container {
  border-right: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  overflow-y: scroll;
}

.module-item-name {
  cursor: pointer;
  transition: 0.25s;
  padding-left: 10px;
}

.module-item-name:hover {
  color: var(--color-primary);
  letter-spacing: 1px;
  text-shadow: 0 0 10px var(--color-primary);
}

.module-category-name {
  font-size: 1.5rem;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid var(--text-color);
}

.module-info-container {
  overflow-y: scroll;
  padding-left: 20px;
}

hr {
  width: 80%;
  margin-left: 0;
}

.module-setting-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  overflow-y: scroll;
}

.module-setting {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .feature .info-container .title {
    text-align: left;
  }
}

@media (max-width: 800px) {
  .feature {
    flex-direction: column;
  }

  .feature-display-container {
    width: 98%;
  }

  .feature .info-container {
    width: 80%;
    text-align: center;
  }

  .feature .info-container .title {
    text-align: center;
  }

  .feature .info-container hr {
    margin: 0 auto;
  }

  .module-category-name {
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  .feature .info-container {
    width: 90%;
  }
}
