nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.right-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
}

.center-nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: 0.25s;
}

.center-nav a:hover {
  color: var(--color-primary);
  text-shadow: 0 0 10px var(--color-primary);
}

.spacer {
  width: 60px;
  height: 60px;
}

.scrolled {
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgb(146, 188, 98, 0.3);
  z-index: 2;
}
