nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 99%;
  margin: 0 auto;
  z-index: 1;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: 0.25s;
}

nav a:hover {
  color: var(--color-primary);
  text-shadow: 0 0 10px var(--color-primary);
}

.icon {
  width: 3rem;
  height: 3rem;
}

.scrolled {
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgb(146, 188, 98, 0.3);
  z-index: 2;
}
